<h1>Movies</h1>
<h2> <% @movies.each do |movie| %>
<%= movie.title %>
  <% end %> </h2>
<!-- The above code should for each instance of popular movies, a list of 20, simply lists the title. Can use this for pictures, year, genres as well.
 It will likely need to be in the controller. Then find a way to map it to an html table. Look at the music app for pointers on controller & view options -->

<body>
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header"> Popular Movies</h2>
      </div>
      <div class="col-md-4 text-center">
          <div class="thumbnail">
              <img class="img-responsive" src="<%= $base_url << $popular_movies.first.backdrop_path %>" alt="<%= $popular_movies.first.title %>">
              <div class="caption">
                  <h3> <%= $popular_movies.first.title %> <br>
                  </h3>
                  <p><%= $popular_movies.first.overview %> </p>
                  <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= $base_url << $popular_movies.last.backdrop_path %>" alt="<%= $popular_movies.last.title %>">
            <div class="caption">
                <h3> <%= $popular_movies.last.title %> <br>
                </h3>
                <p><%= $popular_movies.last.overview %> </p>
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="thumbnail">
              <img class="img-responsive" src="http://placehold.it/750x450" alt="">
              <div class="caption">
                  <h3>John Smith<br>
                      <small>Job Title</small>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                  <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="thumbnail">
              <img class="img-responsive" src="http://placehold.it/750x450" alt="">
              <div class="caption">
                  <h3>John Smith<br>
                      <small>Job Title</small>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                  <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="thumbnail">
              <img class="img-responsive" src="http://placehold.it/750x450" alt="">
              <div class="caption">
                  <h3>John Smith<br>
                      <small>Job Title</small>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                  <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="thumbnail">
              <img class="img-responsive" src="http://placehold.it/750x450" alt="">
              <div class="caption">
                  <h3>John Smith<br>
                      <small>Job Title</small>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                  <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
</div>

</body>
